@import './base.css';

#app {
  background-color: theme(colors.graphite.800);
  font-family: theme(fontFamily.primary);
  line-height: initial;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #dddddd;
}
