@import './base.css';

#app {
  background-color: theme(colors.graphite.800);
  color: theme(textColor.normal);
  font-family: theme(fontFamily.primary);
  line-height: initial;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
